<div class="home-background">
  <shared-nav-bar></shared-nav-bar>

  <div class="flex">
    <!-- Title -->
    <div class="font-[Inter] text-4xl text-white font-bold border border-blue-500">
      Pay for parking with ease
    </div>
    <!-- License plate -->
    <div class="border border-green-400">
      license plate placeholder
    </div>
  </div>

</div>


<div class="pt-96 bg-black">Hola</div>
<div class="pt-96 bg-black">Hola</div>
<div class="pt-96 bg-black">Hola</div>
<div class="pt-96 bg-black">Hola</div>
<div class="pt-96 bg-black">Hola</div>
<div class="pt-96 bg-black">Hola</div>
<div class="pt-96 bg-black">Hola</div>
<div class="pt-96 bg-black">Hola</div>
<div class="pt-96 bg-black">Hola</div>
<div class="pt-96 bg-black">Hola</div>
<div class="pt-96 bg-black">Hola</div>
