<div class="font-[Inter]">
  @if (dialogInfo.showDialog) {
    <shared-modal-dialog [title]="dialogInfo.title" [description]="dialogInfo.description" (closeEvent)="onDialogClose()"></shared-modal-dialog>
  }
  <div class="my-8 mx-8 md:mx-4 sm:mx-2">
    <!-- header -->
    <div class="flex flex-col sm:flex-row justify-between items-start">
      <!-- title -->
      <div>
        <h1 class="text-3xl font-bold text-gray-800">Spots</h1>
        <p class="text-gray-500">Manage all your parking spots</p>
      </div>

      <!-- Action buttons -->
      <div class="flex gap-2 mt-2 sm:mt-0">
        <!-- <button
          class="bg-[#39e554] hover:bg-[#33cc4b] text-white text-sm font-bold py-2 px-4 rounded"

        >
          Add Spot
        </button> -->
        <button
          class="bg-black hover:bg-gray-800 text-white text-sm font-bold py-2 px-4 rounded"
          (click)="exportSpotsToCSV()"
        >
          Export to CSV +
        </button>
      </div>
    </div>


    <!-- Content -->
    <div class="">
      <div class="flex flex-col sm:flex-row justify-between items-center mt-4">
        <!-- Filters -->
        <div class="w-full sm:w-2/4 flex flex-wrap gap-2">
          <div class="flex items-center text-gray-500">Sort by: </div>
          <button class="bg-gray-800 hover:bg-gray-600 focus:bg-gray-600 text-white text-sm font-bold py-2 px-4 rounded-full" (click)="changeOrder('id')">Id</button>
          <button class="bg-gray-800 hover:bg-gray-600 focus:bg-gray-600 text-white text-sm font-bold py-2 px-4 rounded-full" (click)="changeOrder('licensePlate')">License Plate</button>
          <button class="bg-gray-800 hover:bg-gray-600 focus:bg-gray-600 text-white text-sm font-bold py-2 px-4 rounded-full" (click)="changeOrder('paymentStatus')">Payment Status</button>
        </div>
        <!-- Search -->
        <div class="w-full sm:w-2/4 mt-4 sm:mt-0">
          <input
            type="text"
            placeholder="Search spot"
            class="bg-[#EAF0F7] py-2 px-3 rounded shadow-md w-full"
            [(ngModel)]="searchText"
          />
        </div>
      </div>
      <hr class="my-4"/>
      <!-- Table -->
      <div class="overflow-auto">
        <table class="min-w-full table-auto">
          <thead>
            <tr class="text-left md:text-center">
              <th class="w-1/7 px-4">Spot id</th>
              <th class="w-1/7 px-4">License Plate</th>
              <th class="w-1/7 px-4">Payment Status</th>
              <th class="w-1/7 px-4">Arrival Time</th>
              <th class="w-1/7 px-4">Parking</th>
              <th class="w-1/7 px-4">Vehicle Type</th>
              <th class="w-1/7 px-4">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let spot of spots! | searchSpot: searchText | spotSortBy: orderby" class="text-left md:text-center">
              <td class="font-bold px-4">{{ spot.id }}</td>
              <td class="px-4 py-1">{{ spot.licensePlate }}</td>
              <td class="px-4 py-1">{{ spot.paymentStatus }}</td>
              <td class="px-4 py-1">{{ spot.arrivalTime | date:'medium' }}</td>
              <td class="px-4 py-1">{{ spot.parking }}</td>
              <td class="px-4 py-1">{{ spot.vehicleType | vehicleTypetoName }}</td>
              <td class="px-4 py-1">
                <!-- <button
                  class="bg-[#39e554] hover:bg-[#33cc4b] text-white font-bold py-1 px-4 rounded"

                >
                  Edit
                </button> -->
                <button
                  class="bg-[#FF4040] hover:bg-[#e53935] text-white font-bold py-1 px-4 rounded ml-0 md:ml-2 mt-2 md:mt-1 lg:mt-0"
                  (click)="deleteSpot( spot.id.toString() )"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
