<div class="font-[Inter]">
  <div class="my-8 mx-8 md:mx-4 sm:mx-2">
    <!-- header -->
    <div class="flex flex-col sm:flex-row justify-between items-start">
      <!-- title -->
      <div>
        <h1 class="text-3xl font-bold text-gray-800">Dashboard</h1>
        <p class="text-gray-500">Manage your business from a single place.</p>
      </div>

    </div>

    <hr class="my-4"/>
    <!-- Content -->
    <div class="w-full">
      <div class="flex justify-center">
        <admin-advanced-pie-chart></admin-advanced-pie-chart>
      </div>

      <div class="flex justify-center mt-4">
        <admin-pie-grid-chart></admin-pie-grid-chart>
        <admin-number-cards-chart></admin-number-cards-chart>
      </div>

    </div>
  </div>
</div>
