<div class="fixed z-10 inset-0 overflow-y-auto w-full" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0 w-full">
    <div
      (click)="onClose()"
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >
    <div
      (click)="$event.stopPropagation()"
      class="inline-block align-bottom bg-white rounded-lg text-lepublic dialogMessage = {
        title: 'Error',
        description: 'An error has occurred.',
      };ft overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 w-full">
        <div class="sm:flex sm:items-start sm:justify-center w-full">
          <div class="mt-3 text-center sm:mt-0 m-4 sm:text-left w-full">
            @if (showForm) {
              <!-- Title -->
              <h3
                class="text-lg md:text-2xl leading-6 font-medium text-gray-900 text-center"
                id="modal-title"
              >
                {{ title | titlecase }}
              </h3>
              <!-- Content -->
              <div class="mt-2 flex justify-items-center">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="w-full">
                  <!-- Name -->
                  <div>
                    <div class="flex justify-between">
                      <label
                        for="name"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Name:</label
                      >
                      <span
                        *ngIf="isFieldInvalid('name')"
                        class="text-sm text-red-500 italic"
                      >
                        *{{ getFieldError("name") }}
                      </span>
                    </div>
                    <input
                      id="name"
                      type="text"
                      placeholder="Enter name"
                      class="bg-[#EAF0F7] p-3 rounded shadow-md w-full"
                      formControlName="name"
                    />
                  </div>

                  <!-- Surname -->
                  <div class="mt-3">
                    <div class="flex justify-between">
                      <label
                        for="surname"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Surname:</label
                      >
                      <span
                        *ngIf="isFieldInvalid('surname')"
                        class="text-sm text-red-500 italic"
                      >
                        *{{ getFieldError("surname") }}
                      </span>
                    </div>
                    <input
                      id="surname"
                      type="text"
                      placeholder="Enter surname"
                      class="bg-[#EAF0F7] p-3 rounded shadow-md w-full"
                      formControlName="surname"
                    />
                  </div>

                  <!-- Email -->
                  <div class="mt-3">
                    <div class="flex justify-between">
                      <label
                        for="email"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Email:</label
                      >
                      <span
                        *ngIf="isFieldInvalid('email')"
                        class="text-sm text-red-500 italic"
                      >
                        *{{ getFieldError("email") }}
                      </span>
                    </div>
                    <input
                      id="email"
                      type="email"
                      placeholder="Enter email"
                      class="bg-[#EAF0F7] p-3 rounded shadow-md w-full"
                      formControlName="email"
                    />
                  </div>

                  <!-- Password -->
                  <div class="mt-3">
                    <div class="flex justify-between">
                      <label
                        for="password"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Password:</label
                      >
                      <span
                        *ngIf="isFieldInvalid('password')"
                        class="text-sm text-red-500 italic"
                      >
                        *{{ getFieldError("password") }}
                      </span>
                    </div>
                    <input
                      id="password"
                      type="password"
                      placeholder="Enter password"
                      class="bg-[#EAF0F7] p-3 rounded shadow-md w-full"
                      formControlName="password"
                    />
                  </div>

                  <!-- Document Number -->
                  <div class="mt-3">
                    <div class="flex justify-between">
                      <label
                        for="documentNumber"
                        class="block text-sm font-medium text-gray-700 mb-1"
                        >Document Number:</label
                      >
                      <span
                        *ngIf="isFieldInvalid('documentNumber')"
                        class="text-sm text-red-500 italic"
                      >
                        *{{ getFieldError("documentNumber") }}
                      </span>
                    </div>
                    <input
                      id="documentNumber"
                      type="text"
                      placeholder="Enter document number"
                      class="bg-[#EAF0F7] p-3 rounded shadow-md w-full"
                      formControlName="documentNumber"
                    />
                  </div>

                  <!-- Submit button -->
                  <div class="text-center flex gap-2">
                    <button
                      type="submit"
                      class="bg-[#39e554] hover:bg-[#33cc4b] text-white font-bold py-2 px-4 rounded mt-4 w-full"
                    >
                      {{ getFirstWord(title) | titlecase }}
                    </button>
                    <button
                      type="button"
                      class="bg-[#FF4040] hover:bg-[#e53935] text-white font-bold py-2 px-4 rounded mt-4 w-full"
                      (click)="onClose()"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            } @else {
              <!-- Title -->
              <h3
                class="text-lg md:text-2xl leading-6 font-medium text-gray-900 text-center"
                id="modal-title"
              >
                {{ dialogMessage.title | titlecase }}
              </h3>
              <!-- Content -->
              <div class="flex justify-between">
                <div class="mt-2">
                  <p class="text-sm text-gray-500">{{ dialogMessage.description }}</p>
                </div>
                <!-- Action buttons -->
                <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                  <button
                    type="button"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-[#39e554] text-base font-medium text-white hover:bg-[#33cc4b] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-400 sm:ml-3 sm:w-auto sm:text-sm"
                    (click)="onClose()"
                  >
                    Close
                  </button>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
